body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(blue,green,black);
    color: #333;
  }
header {
    background-color: #0073e6;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .logo img {
    height: 50px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
  nav a:hover{
    text-decoration: overline;
  }
  .services {
    padding: 50px 20px;
    text-align: center;
  }
  
  .services h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .service-item {
    display: inline-block;
    width: 30%;
    background: linear-gradient(blue,yellow,green);
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
  }
  
  .service-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  